html,
body,
#root,
.App {
  height: 100%;
  margin: 0px;
}

.text {
  color: black;
  font-family: "Helvetica";
  font-size: 20px;
}

#headerText {
  font-size: 26px;
}

#myBackground {
  background-image: linear-gradient(white, #5ba1e6);
  height: auto;
  min-height: 100vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#testCard {
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 2%;
  position: relative;
  top: 3%;
}

#form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerText {
  font-size: 32px;
  margin-top: 0px;
  text-align: center;
}

#register {
  font-size: 18px;
}

.shaking {
  animation: myEffect 0.5s infinite;
}

#testButton {
  position: fixed;
  right: 1%;
}

#pwWarning {
  color: red;
}

#confirmPWWarning {
  color: red;
}

@keyframes myEffect {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-4px);
  }
  20% {
    transform: translateX(-7px);
  }
  30% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(1px);
  }
  80% {
    transform: translateX(-3px);
  }
  90% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0px);
  }
}

#navBarTabs {
  width: 100%;
}

#loggedInHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#badLoginAlert {
  width: 30%;
  margin-top: 10px;
  display: none;
}

.dashboard {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

.plan {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
}

.links {
  text-decoration: none;
  color: black;
}
